# -*- mode: gitignore -*-

.*
!.gitkeep
!.keep

!/.gitignore
!/.gitattributes
!/.gitmessage
!/.jvmopts
!/.scalafmt.conf
!/.scalafix.conf

/target

/project/*
!/project/Dependencies.scala
!/project/JavaOptions.scala
!/project/ScalaOptions.scala
!/project/build.properties
!/project/plugins.sbt
