<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy/MM/dd HH:mm:ss} [%p] [%c{1}] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <appender name="CONSOLE-ERR" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy/MM/dd HH:mm:ss} [%p] [%c{10}] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <logger name="com.ensime.mezcal" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CONSOLE-ERR"/>
    </logger>

    <root>
        <priority value="WARN"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CONSOLE-ERR"/>
    </root>

</log4j:configuration>
